body, html {
    height: 100%;
    margin: 0;
}

.parallax-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100%; 
}

.image1 {
    background-image: url('img1.jpg');
}

.image2 {
    background-image: url('img2.jpg');
}

.static-section {
    height: 400px; 
    background-color: black; 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
}