
body {
    height: 100vh;           
    margin: 0;              
}

button {
    margin-top: 20px;       
    margin-left: 20px;      
    
    padding: 15px 30px;     
    font-size: 20px;      
    cursor: pointer;         
    background-color: white; 
    border: 1px solid black; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}